.welcome{
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.report-pet{
  position: absolute;
  left: 10%;
  right: 10%;
  bottom: 10%;
  top: 10%;
  border: 2px solid #444;
  border-radius: 8px;
  background-color: #eee;
  padding: 44px 23px;
}
.report-pet__form{
  display: flex;
  flex-direction: column;
  gap:18px;
}
.report-pet__label{
  display: flex;
  flex-direction: column;
}
.report-pet__input{
  height: 50px;
  width: 90%;
  border-radius: 4px;
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
}